# RRHH

A partir del Data Set creado por Drs. Rich Huebner y Carla Patalano se va a plantear una Red Neuronal que trate de predecir si un empleado renunciará o se quedará en la empresa.

Acompañando a esto se hará un análisis descriptivo de las conclusiones llegadas

### LINKs
`Dataset` https://www.kaggle.com/datasets/rhuebner/human-resources-data-set/data

`Versiones` https://rpubs.com/rhuebner

### Diccionario de Datos

| Variable                  | Característica            | Descripción                                                            | Tipo de Datos |
|---------------------------|---------------------------|------------------------------------------------------------------------|---------------|
| Employee Name             | Nombre del Empleado       | Nombre completo del empleado                                           | Texto         |
| EmpID                     | ID del Empleado           | El ID del empleado es único para cada empleado                         | Texto         |
| MarriedID                 | CasadoID                  | ¿Está casada la persona? (1 o 0 para sí o no)                          | Binario       |
| MaritalStatusID           | ID del Estado Civil       | Código de estado civil que coincide con el campo de texto MaritalDesc  | Entero        |
| EmpStatusID               | ID del Estado de Empleo   | Código de estado de empleo que coincide con el campo de texto EmploymentStatus | Entero  |
| DeptID                    | ID del Departamento       | Código de ID del departamento que coincide con el departamento en el que trabaja el empleado | Entero |
| PerfScoreID               | ID del Rendimiento       | Código de rendimiento que coincide con el rendimiento más reciente del empleado | Entero    |
| FromDiversityJobFairID    | DesdeDiversityJobFairID   | ¿Fue el empleado reclutado en la feria laboral de la diversidad? 1 o 0 para sí o no | Binario |
| Salary                    | Salario                   | El salario anual de la persona. $ Dólares estadounidenses             | Flotante      |
| Termd                     | Terminado                 | ¿Se ha terminado este empleado? - 1 o 0                                | Binario       |
| PositionID                | ID del Puesto             | Un número entero que indica el puesto de la persona                    | Entero        |
| Position                  | Puesto                    | El nombre/título del puesto que tiene la persona                       | Texto         |
| State                     | Estado                    | El estado en el que vive la persona                                    | Texto         |
| Zip                       | Código Postal             | El código postal del empleado                                          | Texto         |
| DOB                       | Fecha de Nacimiento       | Fecha de nacimiento del empleado                                       | Fecha         |
| Sex                       | Sexo                      | Sexo - M o F                                                           | Texto         |
| MaritalDesc               | Estado Civil              | El estado civil de la persona (divorciado, soltero, viudo, separado, etc.) | Texto     |
| CitizenDesc               | Descripción de Ciudadanía | Etiqueta para indicar si la persona es ciudadana o no ciudadana elegible | Texto         |
| HispanicLatino            | HispanoLatino             | Campo de Sí o No para indicar si el empleado es Hispano/Latino         | Texto         |
| RaceDesc                  | Descripción de Raza       | Descripción/texto de la raza con la que se identifica la persona        | Texto         |
| DateofHire                | Fecha de Contratación     | Fecha en que la persona fue contratada                                 | Fecha         |
| DateofTermination         | Fecha de Terminación      | Fecha en que la persona fue terminada, solo poblada si, de hecho, Termd = 1 | Fecha    |
| TermReason                | Motivo de Terminación     | Un motivo/descripción de texto por el cual se terminó a la persona     | Texto         |
| EmploymentStatus          | Estado de Empleo          | Una descripción/categoría del estado de empleo de la persona. Cualquier persona que trabaje a tiempo completo = Activo | Texto |
| Department                | Departamento              | Nombre del departamento en el que trabaja la persona                    | Texto         |
| ManagerName               | Nombre del Gerente        | El nombre del gerente inmediato de la persona                          | Texto         |
| ManagerID                 | ID del Gerente            | Un identificador único para cada gerente                                | Entero        |
| RecruitmentSource         | Fuente de Reclutamiento   | El nombre de la fuente de reclutamiento de donde se reclutó al empleado | Texto        |
| PerformanceScore          | Puntuación de Rendimiento | Texto/categoría de puntuación de rendimiento (Cumple totalmente, Cumple parcialmente, PIP, Excede) | Texto |
| EngagementSurvey          | Encuesta de Compromiso    | Resultados de la última encuesta de compromiso, gestionada por nuestro socio externo | Flotante |
| EmpSatisfaction           | Satisfacción del Empleado | Una puntuación básica de satisfacción entre 1 y 5, según lo informado en una reciente encuesta de satisfacción del empleado | Entero |
| SpecialProjectsCount      | Cantidad de Proyectos Especiales | La cantidad de proyectos especiales en los que trabajó el empleado durante los últimos 6 meses | Entero |
| LastPerformanceReviewDate | Fecha de la Última Revisión de Rendimiento | La fecha más reciente de la última revisión de rendimiento de la persona | Fecha |
| DaysLateLast30            | Días de Retraso en los Últimos 30 Días | El número de veces que el empleado llegó tarde al trabajo durante los últimos 30 días | Entero |
| Absences                  | Ausencias                 | El número de veces que el empleado estuvo ausente del trabajo           | Entero       |

## Importar Datos

In [3]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [4]:
import chardet

def open_file(path):
    # open the path with automatic encoding
    with open(path, 'rb') as file:
        encoding = chardet.detect(file.read())
    
    return pd.read_csv(path, encoding=encoding['encoding'])

In [5]:
path = 'HRDataset_v14.csv'
data = open_file(path)

In [8]:
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

## Análisis de los Datos

### Eliminar columnas
Antes que nada se tendrán que descartar las columnas que no nos aporten información para la generación de un modelos:
- Employee_Name
- EmpID


### Columnas informativas y su ID
Algunas de estas columnas muestran la misma información, solo que algunas describen que trata y otras solo son su ID.
- Married